<h1>Project Organizer</h1>

<h2 class="text-left">My Projects</h2>
<small>filter / sort?</small>






<% projects.forEach(function(project) { %>
  <div class="list-group">
  <a href="/projects/<%= project.id %>" class="list-group-item ">
    <h4 class="list-group-item-heading"><%= project.name %></h4>
    <p class="list-group-item-text"><%= project.description %></p>
  
  <% project.categories.forEach((cat)=>{%>
      <label class="checkbox-inline">
        <input type="checkbox" checked disabled id="<%= cat.id%>" value="<%= cat.id%>"> <%=cat.name%>
      </label>
      <% }) %>
      </a>
</div>
<% }); %>
