<h1>Project Organizer</h1>

<h2>My Projects</h2>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
      <small>by <%= project.name %></small>
    </h2>
    <a href="/projects/<%= project.id %>/edit" class="btn btn-success">Edit</a>
    <a href="/projects/<%= project.id %>" class="btn btn-primary delete-link">Delete</a>
  </div>
<% }); %>
