<h1>One Category: <%= category.name %></h1>

<h2>Projects Tagged With <%= category.name %></h2>

<% if (!category.projects.length) { %>
  <h3>Nothing yet!</h3>
<% } %>

<% category.projects.forEach(p => { %>
  <h3>
    <a href="/projects/<%=p.id%>">
      <%= p.name %>
    </a>
  </h3>
  <hr>
<% }) %>

<form method="POST" action="/categories/<%=category.id%>?_method=DELETE">
  <button type="submit" class="btn btn-danger">
    Delete this category
  </button>
</form>