<h1>Edit a Existing project</h1>

<form class="project-edit" action="/projects/edit" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required value="<%= project.name %>">
  </div>
  <% var tempString = []; %>
  <% project.categories.forEach(function(item){ %>
    <% console.log(item.name) %>
    <% tempString.push(" " + item.name ) %>
  <% }) %>
  <div class="form-group">
    <label for="category">Categories</label>
    <input type="text" class="form-control" id="category" name="category" required value="<%= tempString %>">
  </div>

  <div class="form-group">
    <label for="githubLink">Github Link</label>
    <input type="text" class="form-control" id="githubLink" name="githubLink" required value="<%= project.githubLink %>">
  </div>

  <div class="form-group">
    <label for="deployedLink">Deployed Link</label>
    <input type="text" class="form-control" id="deployedLink" name="deployedLink" required value="<%= project.deployedLink %>">
  </div>

  <div class="form-group">
    <label for="description">Description</label>

    <textarea type="text" class="form-control" id="description" name="description" required><%= project.description %></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
