<h1>Edit <%= project.name %></h1>

<form action="/projects/<%= project.id %>" class="put-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= project.name %>"required>
  </div>

  <div class="form-group">
    <label for="githubLink">Github Link</label>
    <input type="text" class="form-control" id="githubLink" name="githubLink" value="<%= project.githubLink %>" required>
  </div>

  <div class="form-group">
    <label for="deployedLink">Deployed Link</label>
    <input type="text" class="form-control" id="deployedLink" name="deployedLink" value="<%= project.deployedLink %>" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" required><%= project.description %></textarea>
  </div>

  <div class="form-group">
    <p><strong>Categories: </strong></p>
    <% project.categories.forEach(function(category){ %>
      <p class="btn btn-default"><%= category.name %></p>
    <% }) %>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
