<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>
<br />
<br />
<p><%= project.description %></p>
<strong>Uses:&nbsp;&nbsp;</strong>

<% project.categories.forEach((cat)=>{%>
      <label class="checkbox-inline">
        <input type="checkbox" checked disabled id="<%= cat.id%>" value="<%= cat.id%>"> <%=cat.name%>
      </label>
      <% }) %>


<hr />
<a href="/">&larr; Back to Projects</a>
