<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>

<% project.categories.forEach(function(category) { %>
    <a href="/categories/<%= category.id %>">#<%= category.name %></a>
<% }); %>

<hr>

<a class="edit-link btn btn-primary" href="<%= project.id %>/edit">Edit</a>
<a class="delete-link btn btn-primary" href="<%= project.id %>">Delete</a>

<hr />

<a href="/">&larr; Back Home</a>
