<link rel="stylesheet" type="text/css" href="css/style.css" />

<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>

<p>
  <% project.categories.forEach(function(category) { %>
      <a href="/category/<%= category.id %>"><%= category.name %></a>
  <% }); %>
</p>
<p><a href="/categories">View All Categories</a></p>


<a href="/">&larr; Back Home</a>


<h2 id="createcategory">Create A New Category</h2>

<form action="/categories" method="POST">
  <div class="form-group">
    <label for="name">Category</label>
    <input type="text" class="form-control" placeholder="Enter a new category..." id="category" name="category">
  </div>

  <input type="submit" class="btn btn-primary">
</form>
