<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>

<% if(project.categories.length > 0) {%>
	<p>Categories:</p>
	<% project.categories.forEach(function(category) {%>
	<a href="/categories/<%= category.id %>"><%= category.name %></a>
<% })}; %>

<hr />

<% if(project.categories && project.categories.length > 0) {%>
	<% project.categories.forEach(function(c) {%>
		<p>Category: <%= c.name %></p>
	<%});%>
<% } else {%>
	<p>No cats for you</p>
<%}%>

<a href="/">&larr; Back Home</a>
