<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>

<hr />

<% if(project.categories && project.categories.length){ %>
<h3> Categories </h3>
<%project.categories.forEach(function(c){ %>
	<div>
		<p><a href="/categories/<%=c.id%>"><%=c.category%></a></p>
	</div>
<% }) %>
<% } else { %>
<h3> No Categories have been assigned! </h3>	
<% } %>
<hr />
<a href="/">&larr; Back Home</a>


