<h1><%= project.name %>     <small><a href="/projects/edit/<%=project.id %>">Edit</a></small></h1>

<a class="btn btn-primary btn-xs" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github
</a>

<a class="btn btn-primary btn-xs" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed
</a>
<hr/>
<h3>About this Project</h3>
<p><%= project.description %></p>

 <% project.categories.forEach(function(e) { %>
<a class="btn btn-success" href="/categories/<%= e.id %>" target="_blank"><%= e.name%></a>
 <!--  <i class="fa fa-github" aria-hidden="true"></i> -->
 <% }); %>

<hr/>

<a href="/">&larr; To Projects</a>
