<h1><%= project.name %></h1>
<div class="description">
	<em><%= project.description %></em>
</div>
<div class="tags is-centered">
		<% project.categories.forEach(function(c) { %>
			<a href="/categories/<%= c.id %>"><span class="tag is-dark"><%= c.name %></span></a>
		<% }); %>
</div>
<div>
	<a class="button is-primary is-medium" href="<%= project.githubLink %>" target="_blank">
	  Github Link
	</a>
	<a class="button is-primary is-medium" href="<%= project.deployedLink %>" target="_blank">
	  Deployed Link
	</a>
</div>
<div>
	<a href="<%= project.id %>" class="delete-link button is-primary is-outlined is-small">Delete</a>
</div>