<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>

<hr />
<h4>Check out other projects in these categories: </h4>
<div class="row">
  <% project.categories.forEach(c => { %>
    <div class="col-sm-4">
     <a href="/categories/<%= c.id %>"> <%= c.name %> </a>
    </div>
  
  <% }) %>
</div>

<hr />

<a href="/">&larr; Back Home</a>
