<h1><%= project.name %></h1>
<h3>
<% categories.forEach((category) => { %>
  <a href="/categories/<%= category.id %>"><%= category.name %></a>
<% }) %>
</h3>

<div class="row">
  <div class="col-sm-12 text-center">
    <a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
      Github Link
    </a>
    
    <a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
      <i class="fa fa-globe" aria-hidden="true"></i>
      Deployed Link
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 well">
    <p><%= project.description %></p>
  </div>
</div>

<hr />

<a href="/">&larr; Back Home</a>
