<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p><br>


<p style="display:inline">Categories:</p>
<% project.categories.forEach(function(category){ %> 
  <p style="display:inline" class='category'><%= category.name %> </p>
<% }); %>


<hr />

<a href="/">&larr; Back Home</a>
