<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>



<hr />
<h2>Categories Associated with this project:</h2>
<p>
<%project.categories.forEach(function(category){ %>
    <a href="/categories/<%= category.id%>"><%= category.name %> | </a>
<% }) %>
</p>
<hr />
<form action="/categories" method="POST">
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" name="category" required>
  </div>
  <input type="hidden" name="projectId" value="<%= project.id%>">
  <input type="submit" class="btn btn-primary">
  </form>



<a href="/">&larr; Back Home</a>
