<h1><%= project.name %></h1>

<h4>Category: <% project.categories.forEach(function(c) { %>
<%= c.name %>  <% }); %></h4>

<p class="lead"><%= project.description %></p>

<hr />

<div class="pull-right">
<a class="btn btn-primary btn-lg" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary btn-lg" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>
</div>

<a class="btn btn-warning" href="/">&larr; Back Home</a>
