<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<hr />

<p class="lead"><%= project.description %></p>

<hr />

<div class="well">
  Categories:
  <% project.categories.forEach((category, i) => { %>
    <a href="/categories/<%= category.name %>"><%= category.name %><%= i === project.categories.length-1 ? '' : ',' %></a>
  <% }) %>
</div>

<a class="btn btn-primary" href="/projects/edit/<%= project.id %>">
  Edit
</a>

<form action="/projects/<%= project.id %>?_method=DELETE" method="POST" style="display: inline">
  <input type="submit" class="btn btn-primary" value="Delete" style="background-color: red">
</form>

<hr />

<a href="/">&larr; Back Home</a>
