<h1 class="project-title"><%= result.name %></h1>

<a class="btn btn-primary" href="<%= result.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= result.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<blockquote><p><%= result.description %></p></blockquote>

<hr />

<% if(result.categories && result.categories.length > 0){%>
	<h3 class="sub-title">Categories:</h3>
	<% result.categories.forEach(function(category){%>
			<a href="/categories/<%=category.id%>"><span class="badge"><%=category.content%>
			</span></a>
	<%})%>
<%}else{%>
	<h3 class="sub-title">No categories :(</h3>
	<% console.log(result.categories)%>
<%}%>
<hr />

<a href="/" class="btn btn-info">Back to My Projects</a>
