<div class="space"></div>
<div class="jumbotron">
  <h1 class="display-4"><%= project.name %></h1>
  <p class="lead"><%= project.description %></p>
  <hr class="my-4">
  <% project.categories.forEach(c => { %>
    <strong>#<%= c.name %></strong>
  <% }) %>
  <br />
  <br />
  <a class="btn btn-success" href="<%= project.githubLink %>" target="_blank">
    <i class="fa fa-github" aria-hidden="true"></i>
    Github Link
  </a>
  
  <a class="btn btn-success" href="<%= project.deployLink %>" target="_blank">
    <i class="fa fa-globe" aria-hidden="true"></i>
    Deployed Link
  </a>
</div>

<a class="btn btn-primary" href="/">Back Home</a>
