<h1><%= project.name %></h1>
<h5><p>Category: <%= project.description %></p></h5>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<form method="POST" action="/projects/<%=project.id%>?_method=DELETE"></form>
  <p><button type="submit" class="btn btn-sm btn-danger">Delete</button></p>
</form>

<hr />

<a href="/">&larr; Back Home</a>
