<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<h5>Description</h5>
<p><%= project.description %></p>
<h6>Categories</h6>
<% project.categories.forEach(function(category) { %>
  <p><%= category.category %></p>
<% }); %>

<hr />

<a href="/">&larr; Back Home</a>
